<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ascom.rehab">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <!-- <meta-data -->
        <!-- android:name="com.google.android.maps.v2.API_KEY" -->
        <!-- android:value="@string/api_key" /> -->

        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">



        </activity>
        <activity
            android:name=".loginActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".SignupI"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".SignupII"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".SignupIII"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".SignupIIII"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".HomePatient"
            android:configChanges="orientation"
            android:label="@string/title_activity_home_patient"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Home2Patient"
            android:configChanges="orientation"
            android:label="@string/title_activity_home2_patient"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Home3Patient"
            android:configChanges="orientation"
            android:label="@string/title_activity_home3_patient"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HomeDoctor"
            android:configChanges="orientation"
            android:label="@string/title_activity_home_doctor"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">


        </activity>
        <activity
            android:name=".RatesActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_rates"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TheMesseges_Activity"
            android:configChanges="orientation"
            android:label="@string/title_activity_the_messeges_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".EditProfileActivity"
            android:theme="@style/CustomTheme"/>
        <activity android:name=".ResetPassword"
            android:theme="@style/CustomTheme"></activity>
    </application>

</manifest>